.bttn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-btt {
  width: 105px;
}

.contact-textarea {
  width: 70%;
  resize: none;
}

.contact-text {
  font-size: 19px;
  line-height: 1.4em;
  padding-right: 10px;
  font-family: Arimo, sans-serif;
}

.col-form-label {
}

.contact-form {
  padding-right: 10px;
  margin-top: 70px;
}

@media only screen and (max-width: 520px) {
  .contact-textarea {
    width: 100%;
  }
  .contact-form {
    padding-right: 2px;
  }
}
